.container {
    background-color: yellow;
}
.appHeader {
    background-color: violet;
}
.appNavigation {
    background-color: yellowgreen;
}
.appMain {
    background-color: tomato;
}
.book {
background-color: turquoise;
}
.news {
    background-color: wheat;
}
.board {
    background-color: mediumpurple;
}
.favorite {
    background-color: lime;
}
.twiter {
    background-color: royalblue;
}
.appFooter {
    background-color: hotpink;
}