body {
    background-color: skyblue;
    font-size: 1.6rem;
}
.container {
    width: 100%;
    justify-content: center;

}
.appHeader, .appMain {
    width: 1000px;
}
.appNavigater, .appFooter {
    width: 100%;
}
.appMain {
    justify-content: space-between;
}
.book {
    width: 320px;
}
.news {
    width: 660px;
}
.board {
    width: 320px;
}
.favorite {
    width: 220px;
    order: 1;
}
.twiter {
    width: 420px;
}

.appFooter {
}



/* 로고 */
.appHeader {
    /* background-color: #fff; */
    /* height: 85px; */
    display: grid;
    /* flex-flow: column wrap;
    justify-content: center; */

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;   
    grid-template-areas: "brend member"
                         "brend search";

    /* position: relative;                          */
}
.brend {
    grid-area: brend;
    /* position: absolute;
    top: 50%;
    margin-top: -30px; */
}

/* 멤버 */
.memberOnly {
    /* color: #181818; */
    grid-area: member;
}



.searchForm {
    grid-area: search;
    text-align: end;
}
input[name="search"] {
    width: 400px;
}

.buttonSearch {
    text-align: center;
    height: 35px;
    padding: 0 1em;
    font-size: 0.8em;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #988574;
    color: #fff;
}




