body {
    background-color: skyblue;
    font-size: 1.6rem;
}
.container {
    width: 100%;
    justify-content: center;

}
.appHeader, .appMain {
    width: 1000px;
}
.appNavigation, .appFooter {
    width: 100%;
}
.appMain {
    justify-content: space-between;
}
.book {
    width: 320px;
}
.news {
    width: 660px;
}
.board {
    width: 320px;
}
.favorite {
    width: 220px;
    order: 1;
}
.twiter {
    width: 420px;
}
.appFooter {
}



/* 로고 */
.appHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;   
    grid-template-areas: "brend member"
                         "brend search";
    margin-bottom: 2rem;
}
.brend {
    grid-area: brend;
}


/* 멤버 */
.memberOnly {
    grid-area: member;
}
.searchForm {
    grid-area: search;
    text-align: end;
}
input[name="search"] {
    width: 400px;
}
.buttonSearch {
    text-align: center;
    height: 35px;
    padding: 0 1em;
    font-size: 0.8em;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #988574;
    color: #fff;
}




/* 레거시방식 */

/* .appNavigation {
    background: #988574;
    color: #fff;
    padding: 2em 0;
}
.buttonNone {
    display: none;
}
.menu__list::after {
    content: "";
    clear: both;
    display: block;
}
.menu__item {
    float: left;
    margin: 0 25px;
}
.menu__link {
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
    font-size: 1.15em;
    font-weight: 900;
}
.menu__list {
    display: block;
    margin: 0 auto;
    width: 1000px;
}
.menu__subMenu {
    font-size: 1.05em;
    font-weight: 700;
    margin-top: 1em;
}

.menu__subMenu li {
    margin-top: 1em;
} */



.appNavigation {
    background: #988574;
    padding: 3rem 0;
}
.buttonNone {
    display: none;
}
.menu__list {
    color: #fff;
    display: flex;
    width: 1000px;
    justify-content: space-around;
    margin: 0 auto;
}
.menu__item {
}
.menu__link {
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
    font-size: 1.8rem;
    font-weight: 900;
    outline: 0;
    cursor: default;
}


.menu__subMenu {
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 2rem;
    padding-left: 0;
}

.menu__subMenu li {
    margin-top: 1.5rem;
    text-indent: 1em;
}